h6 {
  font-family: inherit;
}

.deviceBG {
  h3 {
    font: revert;
    padding: 15px;
  }

  img {
    width: 180px;
    cursor: pointer;
  }

  ul {
    float: right;
    list-style-type: none;
    margin-right: 20px;

    li {
      cursor: pointer;
    }
  }
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #dc3545;
  border-radius: 50%;
  display: inline-block;
  margin-left: 14px;
}
