<section class="breadcrumb">
  <nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><b style="font-size: 20px;">Change Password</b></li>
      <!-- <li class="breadcrumb-item active" aria-current="page">Data table</li> -->
    </ol>
  </nav>
</section>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="card">
            <div class="row">
              <div class="col-md-12">
                <div class="card-body">
                  <form [formGroup]="changepasswordnewform">

                    <div class="col-md-12 mb-3">
                      <div class="form-lable form-group">
                        <label class="required">Old Password</label>
                        <input [type]="oldhide ? 'password' : 'text'" placeholder="Password" class="form-control"
                          formControlName="oldpass" maxlength="15">
                        <i class="show_password" (click)="oldhide = !oldhide"
                          [ngClass]="(oldhide)?'fas fa-eye-slash':'fas fa-eye'"></i>
                      </div>
                      <div class="invalid_feedback"
                        *ngIf="submitted && changepasswordnewform.get('oldpass').hasError('required')">
                        please enter old password
                      </div>
                    </div>

                    <div class="col-md-12 mb-3">
                      <div class="form-group">
                        <label class="form-lable required">New Password</label>
                        <input [type]="newhide ? 'password' : 'text'" placeholder="Password" class="form-control"
                          formControlName="newpass" maxlength="15">
                        <i class="show_password" (click)="newhide = !newhide"
                          [ngClass]="(newhide)?'fas fa-eye-slash':'fas fa-eye'"></i>
                      </div>
                      <div class="invalid_feedback"
                        *ngIf="submitted && changepasswordnewform.get('newpass').hasError('required')">
                        please enter new password
                      </div>
                    </div>

                    <div class="col-md-12 mb-3">
                      <div class="form-group">
                        <label class="form-lable required">Confirm Password</label>
                        <input [type]="chide ? 'password' : 'text'" placeholder="Confirm Password"
                          formControlName="confirmpass" class="form-control" maxlength="15">
                        <i class="show_password" (click)="chide = !chide"
                          [ngClass]="(chide)?'fas fa-eye-slash':'fas fa-eye'"></i>
                        <div class="invalid_feedback"
                          *ngIf="submitted && changepasswordnewform.hasError('notSamePass')">
                          Please Cross Check Password and Conf Password
                        </div>
                      </div>
                    </div>
                  </form>

                  <div class="col-md-12" style="text-align: center;">
                    <button type="submit" class="btn btn-primary" (click)="ChangePassword()"
                      [ngClass]="{'button--loading':validbutton}"><span>Submit</span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>
