@import '../../../../assets/animated-loader';

.Access {
  padding: 10px;
  p {
    margin-left: 20px;
    font-weight: 500;
  }
  ul {
    list-style: none;
    display: flex;
    li {
      cursor: pointer;
      min-width: 109px;
      text-align: center;
      font-size: 16px;
      padding: 4px;
      cursor: pointer;
      span{
        margin: 0px 0px 0px 8px;
      }
    }
  }
}

.AccessSub {
  padding: 10px;
  p {
    margin-left: 50px;
    font-weight: 400;
  }
  ul {
    list-style: none;
    display: flex;
    li {
      min-width: 150px;
      text-align: center;
      font-size: 16px;
      margin-right: 20px;
      cursor: pointer;
      span{
        margin: 0px 0px 0px 8px;
      }
    }
  }
}

.Access {
  padding: 10px;
  p {
    margin-left: 20px;
    font-weight: 500;
  }
  ul {
    list-style: none;
    display: flex;
    li {
      cursor: pointer;
      min-width: 109px;
      text-align: center;
      font-size: 16px;
      padding: 4px;
      cursor: pointer;
      span{
        margin: 0px 0px 0px 8px;
      }
    }
  }
}

.AccessSub {
  padding: 10px;
  p {
    margin-left: 50px;
    font-weight: 400;
  }
  ul {
    list-style: none;
    display: flex;
    li {
      min-width: 150px;
      text-align: center;
      font-size: 16px;
      margin-right: 20px;
      cursor: pointer;
      span{
        margin: 0px 0px 0px 8px;
      }
    }
  }
}
