.head-box {
  float: left;
  width: 8.33%;

  span {
    padding-left: 0px;
    padding-right: 0px;

  }
}

.btnn {
  margin-left: -20px;
  margin-bottom: 10px;
  height: 31px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  margin-left: 9px;
  font-weight: 700;
}

.center {
  margin-left: 80px;
}
