<section class="breadcrumb">
  <nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><b style="font-size: 20px;">Privacy Policy</b></li>
      <!-- <li class="breadcrumb-item active" aria-current="page">Data table</li> -->
    </ol>
  </nav>
</section>

<section id="privacy-policy" class="p-15">
  <div class="card">
    <div class="card-body">
      <h3 class="text-center mb-4">Privacy Policy</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium malesuada
        venenatis. Praesent vel suscipit nulla. Praesent imperdiet lectus ligula, eget gravida
        lacus consequat id. Ut turpis turpis, faucibus sit amet porta et, tincidunt et arcu.
        Curabitur vehicula nulla vitae magna consequat, ut fermentum ante accumsan. Morbi justo
        ante, molestie ut rutrum eu, interdum quis tortor. Phasellus in nibh at risus ultrices
        congue. Duis tempus id urna sed imperdiet. Nam a maximus nisi. Sed dapibus mauris eget
        finibus facilisis. Phasellus id facilisis magna. Pellentesque vestibulum neque in
        tincidunt euismod. Pellentesque ante lectus, tristique a aliquet ac, ultrices et diam.
        Fusce sit amet ornare erat.</p>

      <p>In nec efficitur urna. Sed ornare libero et leo commodo, quis ornare nulla vulputate.
        Vivamus bibendum purus odio, quis malesuada ante egestas vel. Duis maximus nulla quis
        eros pulvinar, eget convallis urna sagittis. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Nam eget nulla ut dui vehicula
        tristique non posuere dui. Quisque sed varius augue. Donec id nibh non eros tempus
        feugiat vitae eu nisi. Duis molestie dolor placerat mi vehicula gravida. Sed fermentum
        nunc ut justo venenatis, non sagittis mi euismod.</p>

      <p>Curabitur molestie massa eget turpis laoreet, et dapibus urna gravida. Suspendisse ante
        risus, dapibus ac leo quis, tempus pellentesque nunc. Class aptent taciti sociosqu ad
        litora torquent per conubia nostra, per inceptos himenaeos. In vestibulum felis a justo
        suscipit, gravida mattis elit porttitor. Praesent nec porttitor ipsum. Quisque aliquam
        eros id libero pellentesque feugiat. Curabitur pretium rutrum egestas. Suspendisse
        imperdiet quam tristique, dignissim mauris vel, elementum sapien. Phasellus vel interdum
        orci, nec gravida turpis. Maecenas sit amet maximus tortor. Donec suscipit, purus et
        dignissim sodales, enim nibh consectetur nisi, quis luctus arcu ex quis est. Nullam
        porttitor tristique malesuada. Cras imperdiet ligula nec rutrum condimentum. Maecenas et
        tortor quis risus congue ultricies et sit amet enim. Proin feugiat rutrum lacus eget
        euismod.</p>

      <p>Duis rutrum eros eget risus dapibus, eu placerat ante egestas. Praesent rhoncus vitae
        neque ut laoreet. Quisque commodo velit id erat commodo, sit amet pulvinar turpis
        luctus. Morbi faucibus ultrices massa nec scelerisque. Interdum et malesuada fames ac
        ante ipsum primis in faucibus. In et erat ac erat tincidunt rhoncus. Donec eget pharetra
        dolor, malesuada maximus dolor. Vivamus pretium magna a porta aliquet. Mauris in tellus
        vel mauris rutrum tincidunt eu in ipsum. Duis eu varius est. Vivamus vel bibendum massa,
        nec consectetur diam. Morbi consequat vitae enim non posuere. Phasellus tristique sem
        eget nisi mattis condimentum. Donec ut nulla non enim suscipit commodo. Vivamus
        consectetur, nulla quis aliquam rutrum, augue ligula vehicula libero, id rutrum ex nibh
        a lorem. Vivamus est quam, fermentum nec congue ac, scelerisque at risus.</p>

      <p>Nam eget dui metus. Nulla facilisi. Phasellus ac maximus libero, nec commodo libero. Sed
        fringilla placerat quam, eget tempus velit dictum tristique. Maecenas accumsan lacinia
        lorem eu rutrum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos. Nam suscipit eget sem vitae fermentum. Class aptent taciti sociosqu
        ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean lacus metus,
        tempor sed erat a, vulputate feugiat lorem. Nullam quis velit scelerisque, ultrices
        lorem at, volutpat arcu. In eu quam gravida, ullamcorper lacus ac, rhoncus ipsum.
        Phasellus non auctor justo.</p>
    </div>
  </div>
</section>
