<section class="breadcrumb">
  <nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><b style="font-size: 20px;">Labels</b></li>
      <!-- <li class="breadcrumb-item active" aria-current="page">Data table</li> -->
    </ol>
  </nav>
</section>

<section id="user_details" *ngIf="!Hide_Table">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <h4 class="m-b-20 m-t-2">Labels</h4>
        </div>
        <div class="col-md-6">
          <div class="col-md-12 form-group text-end">
            <button type="button" class="btn btn-primary" (click)="Add_Users()"> + Add</button>
          </div>
        </div>
      </div>
      <ng-container class="col-sm-12" *ngIf="!LabelsData.length && No_Details">
        <h4 class="mt-3"><b>GETTING DETAILS</b>
          <p>Please wait..</p>
        </h4>
        <div class="animated-background profile-image" style="height: 100px">
        </div>
        <div class="animated-background mt-2" *ngFor="let item of [].constructor(5)" style="min-height: 15px;">
        </div>
        <div class="animated-background" style="height: 30px">
        </div>
        <div class="animated-background" *ngFor="let item of [].constructor(4)" style="min-height: 15px;">
        </div>
      </ng-container>

      <div *ngIf="!LabelsData.length && !No_Details">NO DATA AVAILABLE...!</div>

      <div class="responsiveTable" *ngIf="LabelsData.length && !No_Details">
        <table datatable [dtOptions]="CF.dtOption_Excel">
          <thead>
            <tr>
              <th>Sno</th>
              <th>Label Name</th>
              <th>Date</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of LabelsData; let i=index">
              <td>{{i+1}}</td>
              <td>{{item.labelname}}</td>
              <td>{{item.createddate | date: 'dd/MM/yyyy'}}</td>
              <td>
                <span *ngIf="item.status == 1">Active</span>
                <span *ngIf="item.status == 0">InActive</span>
                </td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="Edit_User(item)">Edit</button>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>


<section id="user_form" *ngIf="Hide_Table">
  <div class="card">
    <div class="card-body">

      <div class="col-md-12 form-group text-end">
        <button type="button" class="btn btn-danger" (click)="Back()">Back</button>
      </div>

      <form [formGroup]="LableForm">
        <div class="row">

          <div class="col-md-4 form-group">
            <label class="col-form-label required">Label Name</label>
            <input (keyup)="Allow_Only('[^a-zA-Z ]','Labelname')" class="form-control" formControlName="Labelname"
              placeholder="Name">
            <div class="invalid_feedback" *ngIf="Submitted && LableForm.get('Labelname')!.hasError('required')">
              Name is required
            </div>
          </div>

          <div class="col-md-4 form-group">
            <label class="col-form-label required">Status</label>
            <ng-multiselect-dropdown [settings]="CF.SDDL" [data]="CF.Status" [placeholder]="'Status'"
              formControlName="status">
            </ng-multiselect-dropdown>
            <div class="invalid_feedback" *ngIf="Submitted && LableForm.get('status')!.hasError('required')">
              Status is required
            </div>
          </div>

        </div>

        <div class="col-md-12 text-center mt-3">
          <button type="submit" class="btn btn-primary" (click)="OnSubmit()" [ngClass]="{'button--loading':validbutton}"
            *ngIf="!Edit_Details"><span>Submit</span></button>
          <button type="submit" class="btn btn-primary" (click)="OnUpdate()" [ngClass]="{'button--loading':validbutton}"
            *ngIf="Edit_Details"><span>Update</span></button>
        </div>
      </form>

    </div>
  </div>
</section>
